<div class="box">
  <article class="media">
    <div class="media-left">
      <span class="app-venue-rating tag is-large">7.8</span>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-marginless">
          <strong class="app-venue-name"></strong> <small>@</small> <small class="app-venue-location"></small>
        </p>
        <p>
          <small class="app-venue-price"></small> <small class="app-venue-type"></small>
        </p>
        <span class="app-venue-tip"></span>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item app-venue-facebook" target="_blank">
            <span class="icon is-small"><i class="fa fa-facebook"></i></span>
          </a>
          <a class="level-item app-venue-twitter" target="_blank">
            <span class="icon is-small"><i class="fa fa-twitter"></i></span>
          </a>
          <a class="level-item app-venue-phone">
            <span class="icon is-small"><i class="fa fa-phone"></i></span> <span class="text"></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
