<div class="columns">
  <div class="column is-one-quarter">
    <div class="field">
      <p class="control">
        <input id="app-venue-radius" class="input" type="text" placeholder="Radius">
      </p>
    </div>
  </div>
  <div class="column">
    <a id="app-radius-button" class="button is-primary">Change radius</a>
  </div>
</div>
